<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.ManualConnectionString"
            connectionString="Data Source=SQL5103.site4now.net;Initial Catalog=DB_A713FD_vero;User Id=DB_A713FD_vero_admin;Password=Julieta19"
            providerName="System.Data.SqlClient" />
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString"
            connectionString="data source=DESKTOP-ART4CME\SQLEXPRESS;&#xA;database=Persona;&#xA;Integrated Security=SSPI;&#xA;persist security info=True;"
            providerName="System.Data.SqlClient" />-->
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.DB_A713FD_veroConnectionString"
            connectionString="Data Source=SQL5103.site4now.net;Initial Catalog=DB_A713FD_vero;User ID=DB_A713FD_vero_admin;Password=Julieta19"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
